@page "/profiles"
@inject HttpClient _http

<PageTitle>Profiles</PageTitle>

<h3>Profiles</h3>

@if (_profiles == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>rmtPC</th>
            <th>ProfileList</th>
            <th>ProfileGUID</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var prof in _profiles)
        {
            <tr>
                <td>@prof.RmtPc</td>
                <td>@prof.ProfileList</td>
                <td>@prof.ProfileGuid</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {


    private Profile[]? _profiles;

    protected override async Task OnInitializedAsync()
    {
        _profiles = await _http.GetFromJsonAsync<Profile[]>("sample-data/profiles.json");
    }

    public class Profile
    {
        public string? RmtPc { get; set; }

        public string? ProfileList { get; set; }

        public string? ProfileGuid { get; set; }
    }

}